*.~*~
*.local
*.identcache
__history
*.drc
*.map
bin/*
server/output
client/output
server/dcu
client/dcu
comp/dcu
installshields/full/output
installshields/update/output
installshields/!files/chclient.exe
