<style type="text/css">{  }
body	{ margin-bottom:0px; margin-left:0px; margin-right:0px; margin-top:0px; font-family:Arial; color:#333333; font-size:12px; background-color:#000000;}
a {	font-family: arial;	font-size: 12px; color: #560e94;	text-decoration: underline;}
a:visited {	color: #560e94;	text-decoration: underline;}
a:hover { color: #560e94;	text-decoration: none;}
a:active { color: #560e94;	text-decoration: underline;}
H1 {
	PADDING-RIGHT: 0px;
	PADDING-LEFT: 0px;
	FONT-SIZE: 18px;
	margin-BOTTOM: 0px;
	COLOR: #990000;
	LINE-HEIGHT: 100%;
	margin-TOP: 0px;
	FONT-FAMILY: "bold 18px arial", sans-serif;
	font-weight: bold;
}
H2 {
	MARGIN-RIGHT: 10px;
	MARGIN-LEFT: 10px;
	FONT-SIZE: 18px;
	Margin-BOTTOM: 10px;
	COLOR: #000000;
	LINE-HEIGHT: 100%;
	margin-TOP: 10px;
	FONT-FAMILY: "bold 13px arial", sans-serif;
	font-weight: bold;
}
p { font: 12px arial,sans-serif;  color: #333333; padding-bottom:4px; padding-top:0px; padding-left:8px; padding-right:8px; margin:6px; line-height: 16px; }
/*bogus link for NS6 bug - doesn't recognize the first style in the style sheet*/
.bogus { color: #868686; text-decoration: none; }
.bogus:hover { color: #868686; text-decoration: none; }
/*LINK COLORS*/
.link { font: 12px arial,sans-serif;  color: #990000; text-decoration: underline; }
.link:hover { color: #FF0000 }
.topnav { font: bold 14px arial,sans-serif;  color: #eaeff3; text-decoration: none; }
.topnav a {	font-family: arial;	font-size: 14px; color: #eaeff3; text-decoration: none;}
.topnav a:visited {	color: #eaeff3;	text-decoration: none;}
.topnav a:hover { color: #49223f;	text-decoration: none;}
.topnav a:active { color: #49223f;	text-decoration: none;}

.tabSub { font: bold 12px arial,sans-serif;  color: #330033; text-decoration: none; }
.tabsub:hover { color: #FF0000 }
/*BODY TEXT COLORS*/
.body { font: 12px arial,sans-serif;  color: #333333; }
.bodybd { font: bold 12px arial,sans-serif;  color: #333333; }
.maintabs { font: bold 12px arial,sans-serif;  color: #333333; }
.subtabs { font: bold 12px arial,sans-serif;  color: #000099; }
.rowwhite { font: bold 12px arial,sans-serif;  color: #FFFFFF; }
.bodywhitelg { font: bold 13px arial,sans-serif;  color: #CCCCCC; }
.bigbody { font: bold 13px arial,sans-serif;  color: #333333; }
.footer	{font-family:Arial; font-size:12px; color:#959595;}
.footer	a {
	font-family: arial;
	font-size: 12px;
	color: #999999;
	text-decoration: underline;
}
.footer	a:visited {
	color: #CCCCCC;
	text-decoration: underline;
}
.footer	a:hover { color: #c684ff;	text-decoration: none;}
.footer	a:active {
	color: #999999;
	text-decoration: underline;
}





/*BUTTON STYLES*/
.btn {font: bold 11px arial,sans-serif; color: #868686; background-color: #FFFFFF;}
.btngreen {font: bold 11px arial,sans-serif; color: #FFFFFF; background-color: #669900;}
.btngreen2 {font: bold 11px arial,sans-serif; color: #669900; background-color: #FFFFFF;}
.btngreen3 {font: bold 11px arial,sans-serif; color: #FFFFFF; background-color: #669900; width:146px; }
/*MENU STYLES*/
.linknav { font: 11px bold arial,sans-serif;  color: #FFFFFF; text-decoration: none; }

/*FORM STYLES*/
.AdminSelectBox
{
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: 11px;
    BORDER-LEFT: medium none;
    BORDER-BOTTOM: medium none;
    FONT-FAMILY: Arial
}

</style>
